
<!DOCTYPE html>
<html>
   <head>
      <style>
         body {
     background-image: url("../../images/background.jpg");
     font-family: sans-serif;
     font-size: 16px;
     background-size: cover;
   }
   
   </style>
 
    </head>
    
<body>

<h1>blogs</h1>
<ul>
   <li><a href="/sayfa1">3 tablo bir savas</a></li>
</ul>
</body>
</html>
