<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="../../css/global.css" />
    </head>
<body>

<h1>uc tablo bir savas</h1>
<p>Çocukken en sevdiğim hikaye Basat’ın Tepegözü yendiği Dede korkut 
    hikayesiydi. Basat güçlü, onurlu, iyi kalpli ve yiğitti. Obur, kötü kalpli, laftan anlamaz 
    ve ilkel bir canavar olan Tepegözü yenerek halkını özgürleştirmişti. Rönesans 
    kelimesiyle ilk karşılaşmam sanırım bir ders kitabı üzerinden olmuştu. Tabi o zamanlar 
    “yeniden doğuş” ifadesiyle bir sorunum yoktu. Bütün bir dönem kavramsal olarak 
    zihinsel dünyamda harmoni içerisindeydi. ”Bir grup akıllı adam bugün bildiğimiz 
    dünyanın temellerini atmış. Buna da rönesans diyoruz.” Her şey bu kadar basitti. 
    Geçmiş ben zihinsel ve duygusal sığlığıyla ancak bu kadar acınası olabilirdi. Evet 
    “yeniden doğuş” ifadesiyle problemlerim var. Kanımca uygun olan bir medeniyet olan 
    insanlığın en değerli hazinelerinin temellerini attığı bu dönemi sadece “doğuş” olarak 
    isimlendirmektir çünkü insanlık ruhunun ve humanizma ideasının doğuşu “yeniden 
    doğuş” fikrinde öngörüldüğü gibi bir ölüm gerektirse de ölen insanlık değil hayvanlıktır. 
    Hayvanlığın, idin, saf tutkunun, oburluğun, ölümünü ise insanlık medeniyetinin doğuşu 
    takip eder. İnsanlık, belki de haddini aşarak, kendisini ilk defa tanrıdan bağımsız olarak 
    ruhsal bir yaratık olarak tanımlar ve bu yönüyle kendisini doğadan üste koyar. Gelin 
    bunu 3 tablo ve bir savaşla inceleyelim.
    Guillaume Courtois’ ın David ve Goliath’ını (1650) inceleyelim. Merkezde yerde 
    yatan Goliath ile galip ve Goliath’ın hayatına son vermek üzere olan bir David 
    resmedilmiş. David zırhsız olarak resmedilmişken, Goliath’ın zırhı imparatorluğun 
    otoritesini temsil ediyor. Kırık mızrak ve kesilmiş mızrak ucu Goliath’ın kırılmış 
    iradesini, Gökyüzündeki kara bulutlara rağmen ufuktaki parlaklık iyi bir geleceğe dair 
    inancı temsil ediyor. Arkada savaşan ordular ise bu mücadelenin topluma yayıldığını 
    ve izole olarak kalmadığını ifade ediyor.
    Bütün yönleriyle David ve Goliath tam bir rönesans tablosudur zamanının 
    ruhunu ve insanlık tarihi açısından zamanının sahip olduğu yeri böylesine ifade etmesi 
    açısından zamanının en önemli sanat eserlerinden birisidir.
    Rönesans sanatında en dikkat çekici özelliklerden birisi ikilik yani bipolaritedir. 
    Rönesans entelektüel dünyasının yaşadığı arada kalmışlık ve tenakuz rönesans 
    eserine de güçle yansır.
    Raphael’in Plato ve Aristotle adlı eserinde de benzer bir ikilikle karşılaşırız. 
    Eser, Platon ve Aristoteles'in felsefi fikirlerinin yanı sıra Raphael'in becerisinin 
    sembolik bir temsilidir. Rönesans dönemi boyunca entelektüel konuşmalar iki önde 
    gelen antik filozofun, Platon ve Aristoteles'in felsefi fikirlerinden etkilenmiştir. Bu iki 
    parlak zeka, resimde bir arada tasvir ediliyor ve felsefi bakış açıları ve temel farkları 
    vurgulanıyor.
    Platon'un "İdealar Teorisi" iyi bilinmektedir. Maddi dünyanın dışında var olan 
    ideal formlar dünyasının gerçekliğin var olduğu yer olduğunu iddia etti. Bu ideal formlar 
    aslında maddi dünyada bulunan nesnelerin kopyalarıdır, kusursuz ve değişmezdirler. 
    Dolayısıyla Platon'un eliyle yukarıyı işaret etmesi ideali, soyutu ve evrenseli 
    simgelemektedir.
    Aristoteles ise doğa felsefesi, deney ve gözlem üzerine yoğunlaşmıştır. 
    Deneyimlerin ve somut nesnelerin gerçeği anlamamıza yardımcı olabileceğini 
    düşünür. Aristoteles dünyaya işaret ederek maddi dünyadaki gerçekliğin 
    gözlemlenebilir yönlerini vurgular.
    Tablonun kontrastı aynı zamanda Rönesans döneminde ortaya çıkan felsefi 
    çatışmaları yansıtıyor. Rönesans boyunca entelektüel çevrelerde Platon ve 
    Aristoteles'in teorileri arasındaki farklar üzerine pek çok tartışma yaşandı. Raphael, bu 
    iki düşünürün kavramları arasındaki farkları ve tamamlayıcı nitelikleri vurgularken aynı 
    zamanda bunları sembolik olarak birleştiriyor.
    Bir başka zamanın ruhunu yansıtan sanat eseri ise Holbein’in The 
    Ambassadors adı eseridir.
    Eser, 16. yüzyıldan kalma, incelikle işlenmiş sanat eserleri arasında yer alan iki 
    seçkin şahsın karmaşık bir portresidir. Rönesans dünyasının sunulmasındaki doğruluk 
    dikkat çekicidir ve zamanın zenginliğini ve entelektüel ilgilerini vurgulamaktadır. 
    Elçilerin gizem havasını korurken izleyiciyi kendi dünyalarına davet eden basit ama 
    gizemli bakışları onları son derece büyüleyici kılıyor.
    Yerel ve göksel dünyalar arasındaki ayrımlar, üst ve alt kısımdaki nesneler 
    arasındaki kontrast olarak Holbein'in "the Ambassadors" adlı tablosuna yansımış 
    görünüyor. Alt raftaki öğeler daha sıradan, kullanışlı veya dünyayla bağlantılıyken, üst 
    raftakiler genellikle göksel ve entelektüel alemleri temsil ediyor.
    En üst rafta, gökyüzü ve astronomi bilgisini temsil eden bir gök küresi, dini veya 
    felsefi kitaplar ve torquetum gibi yön bulma yardımcıları da dahil olmak üzere çok 
    sayıda entelektüel eser bulunabilir. Bunlar dönemin göksel, beyinsel ve bilgiye dayalı 
    bileşenlerini temsil eder.
    Alt raftaki eşyalar ise ve dünyevi hayatı temsil ediyor. Cetvel, flüt kutusu, ticari 
    hesaplarda kullanılan kitap ve lute gibi öğeler, dahil edilen öğelere birkaç örnektir. Bu 
    öğeler günlük yaşamla ve pratik yeteneklerle daha yakından ilgilidir.
    Bu karşıtlık, elçilerin hem dünyevi/pratik hem de göksel/entelektüel konulardaki 
    yetkinliğini göstermeyi amaçlayan bir kasıt olabilir. Buna ek olarak, bu farklı öğeler 
    sahneye uyum ve denge getiriyor gibi görünüyor, zamanın bilgi ve yeteneklerinin 
    genişliğini ve hem günlük ihtiyaçları hem de göksel gereksinimleri karşılamaya hazır 
    olduklarını gösteriyor.
    Felsefi ikilik durumunun sanata tezahürü ancak bunun toplumsal bir değişimin 
    sanatsal uğraşlara yansıması olarak var olmuş olabilir.
    1397 ile 1402 yılları arasında İkinci Milano Savaşı, Rönesans'ın başlarında 
    Kuzey İtalya'da yaşanan büyük bir çatışmaydı. Bu savaş, özellikle Hans Baron gibi 
    bazı tarihçilerin tasvir ettiği şekliyle, hümanizmin yükselişi üzerindeki etkisi nedeniyle 
    geniş çapta tanınmaktadır.
    Önemli olaylardan biri Floransa ile Milano Dükü Giangaleazzo Visconti 
    arasındaki savaştı. Visconti'nin 1402'de Floransa'yı işgal etme planlarının uyandırdığı 
    yaklaşan fetih tehdidi, Hans Baron için Napolyon veya Hitler'in işgalleri gibi daha yakın 
    tarihli tarihsel tehditlere benziyordu. Bölge, dönemin siyasi ve sosyal iklimini değiştiren 
    bir krize yol açan bu yaklaşan fetih tehlikesiyle karşı karşıyaydı.
    Giangaleazzo'nun Eylül 1402'de vebadan kaynaklanan beklenmedik ölümü, 
    Floransa'yı olası saldırganlığından korudu. Hans Baron gibi bazı tarihçiler, bu olayın 
    sivil cumhuriyetçiliğin feodal otokrasiyi yenmesine yardımcı olan bir dönüm noktası 
    olduğunu fikrinde.
    Hümanizmin gelişmesinde bunun büyük etkisi oldu. Çatışma, rakip güçler 
    arasındaki bir mücadele olmasının yanı sıra, Yeni çağın medeni ideallerinin ve 
    cumhuriyetçi hümanizmanın feodal egemenliğe karşı çatışmasını da temsil ediyordu. 
    Bu İkinci Milano Savaşı krizi, hümanizmin gelişimi açısından çok önemli olarak 
    kabul ediliyor. Yurttaş cumhuriyetçiliğinin otokrasi tehlikesine karşı kazandığı zafer, 
    bireyciliğin takdir edilmesi, bilginin ilerlemesi ve yurttaşlık görevinin önemi gibi 
    hümanizmin gelişmesi için gerekli olan ideallerin ve kavramların temelini oluşturdu. 
    Bireysel ve grup gelişiminin değerini vurgulayarak Rönesans'ın ünlü entelektüel ve 
    kültürel canlanmasına kapıyı açtı.
    Rönesans şüphesiz insanlık tarihindeki en önemli dönüm noktasıdır. Bir Neolitik 
    çağ insanına ya da orta çağ insanına hayattaki en derin kaygılarını sorsanız alacağınız 
    cevabın id düzeyinde olduğunu görürdünüz. Rönesans’tan önce, insanların ana 
    kaygıları genellikle en temel fizyolojik ihtiyaçlarının (yeme, içme ve üreme) 
    karşılanması etrafında yoğunlaşıyordu. Çoğu toplum, yapılarını maddi mülkiyet ve ilkel 
    içgüdüler üzerine inşa etti. Ancak bu anlayış Rönesans'la bozuldu. Bu, insanlık 
    tarihinde insanların kendilerini fiziksel varlıklardan daha fazlası olarak görmeye 
    başladıkları bir dönemin başlangıcına işaret ediyordu; kendilerini ruhsal ve entelektüel 
    varlıklar olarak görmeye başladılar. İnsan medeniyeti kolektif bir bilinç olarak ilk defa 
    bir süperegoya sahip oldu. Bu zaman dilimi, insanlığın ilahi metamorfozunun 
    başlangıcı olarak kabul edilir</p>

</body>
</html>